<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Cinnamonblog</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/style/main.css">
	<div class="header">
		<form  action="/allentries" method="GET">
			<input class="header-btn" type="submit" value="All Entries">
		</form>
		<form  action="/" method="GET">
			<input class="header-btn" type="submit" value="Homepage">
		</form> 
	</div>
	</head>
	<img id="cinnamonroll" src="/imgs/cinnamonroll.png" alt="sanrio character cinnamonroll">
	<img id="mysweetpiano" src="/imgs/mysweetpiano.png" alt="sanrio character mysweetpiano">
<body>
<main>